.dialog-common {
  & > .v-overlay__content { overflow: initial !important; }

  .title-area {
    .button-close {
      &.v-btn--disabled > .v-btn__overlay {
        opacity: 0 !important;
      }
    }
  }
}

/* Lower minimum width for Vuetify snackbar component */
.v-snackbar {
  & &__wrapper {
    min-width: 250px !important;
  }

  & &__content {
    word-break: keep-all;
  }
}
