/* Common styles & classes */
html {
  touch-action: manipulation;
}

.max-w-100 { max-width: 100%; }
.max-h-100 { max-height: 100%; }

.no-interaction {
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  user-drag: none;
}

.no-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  user-drag: none;
}

/* Workarounds for VDialog (CommonDialog) */
.dialog-common {
  & > .v-overlay__content { overflow: initial !important; }

  .title-area {
    .button-close {
      &.v-btn--disabled > .v-btn__overlay {
        opacity: 0 !important;
      }
    }
  }
}

/* Lower minimum width for Vuetify snackbar component */
.v-snackbar {
  & &__wrapper {
    min-width: 250px !important;
  }

  & &__content {
    word-break: keep-all;
  }
}
